.list-group-item {
  padding: 15px 20px;
  border-bottom: 1px solid #3d5a80;
}

.list-group-item:hover .remove {
  display: block;
}

.list-group-item:last-child {
  border-bottom: none;
}

.list-group-item input {
  line-height: 35px;
  font-size: 20px;
  text-align: left;
  border: 0;
}

.completed {
  color: #ccc;
  text-decoration: line-through;
}

.circle {
  align-items: center;
  border: 2px solid #3d5a80;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 35px;
  justify-content: center;
  width: 35px;
  margin-right: 20px;
}

.circle:hover {
  background: #e1e5ff;
}

.checked {
  background: #3d5a80;
  border-radius: 50%;
  height: 25px;
  width: 25px;
}

.remove {
  cursor: pointer;
  display: none;
  transition: all 500ms ease-in-out;
  font-size: 1.5rem;
  color: red;
}
.wrapper {
  display: flex;
}
